# Compiled class file
*.class

# Log file
*.log

.idea/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# swagger codegen files
.swagger-codegen/
.swagger-codegen-ignore
